.cards {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  display: grid;
  gap: 2rem;
  .card-container {
    border-radius: 2rem;
    box-shadow: #f02eaa66 0 1px 1px 1px;
    background-color: #fff;
    &:hover {
      box-shadow: rgba(240, 46, 170, 0.4) 2px 2px 3px 2px,
        rgba(240, 46, 170, 0.3) 4px 4px, rgba(240, 46, 170, 0.2) 6px 6px;
    }
  }
}
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 900px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo-card {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    flex-direction: row;
    padding: 0 0.5rem;
    gap: 1rem;
    align-items: center;
    height: 5rem;

    cursor: pointer;
    h3 {
      color: #800080;
      text-transform: capitalize;
    }
    > a > img {
      border-radius: 50%;
    }
  }

  > img {
    object-fit: cover;
    width: 100% !important;
    position: relative !important;
    height: 20rem;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    h1 {
      text-transform: uppercase;
      color: #800080;
      font-weight: bold;
    }
    p {
      color: #800060;
      font-style: italic;
      text-align: center;
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}
