.backdrop {
  background: rgba(255, 122, 239, 0.65);
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    width: 80vh;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    height: 80vh;

    img {
      position: relative !important;
      max-height: 70vh !important;
      object-fit: contain;
    }

    > button {
      background-color: #800080;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      height: 40px;
      line-height: 20px;
      list-style: none;
      margin: 0;
      padding: 10px 20px;
      position: relative;
      text-align: center;
      transition: background-color 0.3s;
      vertical-align: baseline;
      &:hover {
        background-color: #f288d8;
      }
      &:focus {
        background-color: #f288d8;
      }
    }
  }
}
